create table schema_version(
  version integer primary key,
  description text not null,
  is_current boolean default 0 check (is_current in (0, 1))
);

-- make sure there's only one active version
create unique index schema_version_uk on schema_version(is_current)
  where is_current = 1;

create table positions(
  id integer primary key,
  account_id text not null,
  venue text not null, --can be exchange, blockchain address, etc.
  instrument text not null,
  quote_currency text not null,
  base_currency text not null,
  base_size text not null,
  entry_price text not null,
  updated_at integer not null
);

create unique index position_price_idx on positions (
  account_id, venue, instrument, entry_price
);

-- Insert current schema version. This should be increased every time changes are made
-- to schema.sql and migration.sql
insert into schema_version(version, description, is_current)
  values({{.Version}}, 'schema installed', 1);

